body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the page takes at least the height of the viewport */
    margin: 0;
    padding: 0;
    width: 100%; /* Ensure the footer spans the entire width */
}

.footer {
    margin-top: auto; /* Push the footer to the bottom */
    margin-left: auto;
    margin-right: auto;
    background-color: #333;
    padding: 10px;
    width: 100%; /* Ensure the footer spans the entire width */
    display: block;
    text-align: center;
    color: white;
    z-index: 9999;
}

header {
    background-color: #1CD8C8;
    padding: 20px;
    text-align: center;
    z-index: 9999;
    font-family: "Trebuchet MS", sans-serif ;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
}

form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}

form input[type="text"], form input[type="password"], form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

.container {
    background-image: url("fkpark_login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container h2{
    background-color: #fff;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.container form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    width: 300px; /* Adjust as needed */
}

.container form label {
    display: block;
    margin-bottom: 10px;
}

.container form input,
.container form select {
    width: calc(100% - 20px); /* Adjusted width */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in width */
}

.container form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container form input[type="submit"]:hover {
    background-color: #0056b3;
}

.container h2 {
    text-align: center;
}

/* Sidebar styles */
.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0; /* Adjust the value to lower the sidebar */
    left: 0;
    background-color: #4E4E4E;
    overflow-x: hidden;
    padding-top: 69px;
    bottom: 0;
    overflow: auto;
    opacity: 0.6;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #f1f1f1;
    display: block;
}

.sidebar a:hover {
    color: #37C8BB;
}

.content {
    background-image: url("dashboard_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the page takes at least the height of the viewport */
}

.content-admin-register {
    background-color: white;
    text-align: center;
    margin-top: 10px;
    margin-left: 260px; /* Adjust this value based on sidebar width */
    margin-right: 60px;
    padding: 15px 30px;
    border-radius: 10px;
}

.stat_table {
    margin-top: 10px;
    margin-left: 210px; /* Adjust this value based on sidebar width */
    /*padding: 20px;*/
}

.stat_table table{
    width: 700px;
    border: 1px solid;
    border-collapse: collapse;
    border-radius: 20px;
}

.stat_table tr,td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid black;
    background-color: #DAD9D9;
}

.stat_table th{
    background-color: #37C8BB;
    color: black;
    height: 40px;
    border: 1px solid;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid black;
}

.stat_table {
    margin-top: 10px;
    margin-left: 210px; /* Adjust this value based on sidebar width */
    /*padding: 20px;*/
}

.event_table {
    margin-top: 10px;
    margin-left: 210px; /* Adjust this value based on sidebar width */
}

.event_table table{
    width: 700px;
    border: 1px solid;
    border-collapse: collapse;
    border-radius: 20px;
}

.event_table td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid black;
    background-color: #DAD9D9;
}

.event_table tr:nth-child(even) {
    background-color: #fff;
}

.event_table tr:nth-child(odd) {
    background-color: #007BFF;
}

.event_table th{
    background-color: #73BEF0;
    color: black;
    height: 40px;
    border: 1px solid;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid black;
}

.dashboard{
    background-image: url("dashboard_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the page takes at least the height of the viewport */
    margin: 0;
    padding: 0;
}

.navigation{
    font-family: "Trebuchet MS", sans-serif ;
    font-weight: bold;
    font-size: 20px
}

.navigation a:hover{
    color: #f1f1f1;
}

.content-user-dashboard {
    flex: 1;
    padding: 20px;
}

.user_functions {
    margin-top: 20px;
}

.user_functions h3 {
    background-color: #fff;
    color: black;
    padding: 10px;
    border-radius: 5px;
}


/*User Profile*/
.content-user-dashboard, .content-userprofile {
    background-image: url("dashboard_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the page takes at least the height of the viewport */
    margin: 0;
    padding: 0;
}

.content-userprofile {
    background-image: url("dashboard_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    min-height: 100vh; /* Ensure the page takes at least the height of the viewport */
    margin: 0;
    padding: 0;
}
.content-vehicle {
    background-image: url("dashboard_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    min-height: 100vh; /* Ensure the page takes at least the height of the viewport */
    margin: 0;
    padding: 0;
}
.card-userprofile {

    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: auto;
    padding: 50px;
}

.card-userprofile h2 {
    margin-top: 0;
    text-align: center;
}

.card-userprofile table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.card-userprofile th, .card-userprofile td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.card-userprofile th {
    background-color: #f2f2f2;
}

.edit-btn {
    text-align: center;
    margin-top: 20px;
}

.edit-btn button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn button:hover {
    background-color: #0056b3;
}

.vehicleReg-content{
    background-image: url("dashboard_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    min-height: 100vh; /* Ensure the page takes at least the height of the viewport */
    margin: 0;
    padding: 0;
}
.vehicleReg-form {
    max-width: 900px;
    margin-top: 10px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.vehicleReg-form h2 {
    margin-top: 0;
    text-align: center;
}

.vehicleReg-form label {
    display: block;
    margin-bottom: 10px;
}

.vehicleReg-form input[type="text"],
.vehicleReg-form select,
.vehicleReg-form input[type="file"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.vehicleReg-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.vehicleReg-form input[type="submit"]:hover {
    background-color: #0056b3;
}

.content-userprofile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 0 20px 60px;
}

.content-vehicle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 0 20px 60px;
}

.user-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.vehicle-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.search-form, .all-users-container {
    width: 45%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-form, .all-vehicle-container {
    width: 45%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-form h2, .all-users-container h2 {
    text-align: center;
}

.search-form h2, .all-vehicle-container h2 {
    text-align: center;
}

.search-form form label, .search-form form input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.search-form form input[type="submit"] {
    width: auto;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.search-form form input[type="submit"]:hover {
    background-color: #0056b3;
}

.all-users-container p {
    margin: 10px 0;
}

.all-vehicle-container p {
    margin: 10px 0;
}

.user-info {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.vehicle-info {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}